.car {
  width: 18%;
  position: absolute;
  z-index: 1;
  bottom: 4px;
  left: 40%;
  background: #fff;
  box-shadow: 1px 1px 3px #000;
  border-radius: 8px;
  cursor: move;
  padding: 0.5%;
}

.car img {
  width: 100%;
  float: left;
  padding-bottom: 0.4%;
}

.car p {
  text-align: center;
  width: 100%;
}

.car:hover {
  transform: scale(1.08);
  transition: all 400ms ease-in-out;
}

/** FOR DRAGGABLE ELEMENTS **/
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
